.about-area {
  .about {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    .about-content {
      h4 {
        text-transform: capitalize;
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 20px;
      }
    }
    .about-img {
      position: relative;
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #ff7720;
        right: -15px;
        bottom: 14px;
        z-index: -1;
      }
    }
  }
  .about-bottom {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 30px;
    .single-about {
      text-align: center;
      i {
        font-size: 26px;
      }
      h4 {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 26px;
        margin: 20px 0;
      }
      a {
        color: #ff7720;
        text-transform: capitalize;
        font-size: 18px;
        margin-top: 20px;
        display: inline-block;
        transition: 0.3s;
        &:hover {
          color: tomato;
        }
      }
    }
  }
}
