@import 'section-title';
@import 'header';
@import 'banner';
@import 'about';
@import 'features';
@import 'services';
@import 'process';
@import 'projects';
@import 'counter';
@import 'team';
@import 'video';
@import 'price';
@import 'testimonials';
@import 'blog';
@import 'subscribe';
@import 'contact';
@import 'partner';
@import 'footer';
@import 'responsive';