.banner-area {
  @include bg;
  height: 100vh;
  .banner-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    h4 {
      font-size: 20px;
      font-weight: 400;
    }
    h1 {
      text-transform: uppercase;
      font-size: 60px;
      margin: 20px 0;
    }
    a{
        margin: 20px 10px 0;
    }
  }
}
