.blog-area {
  .blog {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 30px;
    .single-blog {
      h4 {
        font-size: 26px;
        margin: 20px 0;
        text-transform: capitalize;
      }
      p {
        margin: 20px 0;
      }
      a {
        text-transform: capitalize;
        font-size: 18px;
        transition: 0.3s;
        &:hover {
          color: #ff7720;
        }
      }
      .blog-img {
        position: relative;
        img {
          width: 100%;
        }
        .blog-meta {
          background-color: #fff;
          border: 1px solid #ddd;
          margin: 0 25px;
          display: flex;
          justify-content: space-evenly;
          margin-top: -25px;
          position: relative;
          padding: 15px 0;
          margin-bottom: 25px;
          a {
            text-transform: lowercase;
            font-size: 16px;
          }
        }
      }
    }
  }
}
