.services-area {
  .services {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 30px;
    .single-service {
      text-align: center;
      box-shadow: 0 15px 40px #f2f2f2;
      padding: 40px 20px;
      transition: 0.3s;
      border-bottom: 3px solid transparent;
      &:hover {
        border-color: #ff7720;
      }
    }
    i {
      font-size: 22px;
      border: 1px solid #eee;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
    }
    h4 {
      text-transform: capitalize;
      font-size: 24px;
      font-weight: 600;
      margin: 20px 0 10px;
    }
  }
}
