.subscribe-area {
  @include bg;
  color: #fff;

  .subscribe {
    max-width: 700px;
    margin: 0 auto;
    form {
      position: relative;
    }
    input {
      width: 100%;
      padding: 11px;
      border: 1px solid #ddd;
      border-radius: 50px;
    }
    input[type="submit"] {
      width: auto;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #ff7720;
      border: 0;
      padding: 11px 30px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
