.team-area {
  .team {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 30px;
    .single-team {
      position: relative;
      z-index: 2;
      background-size: cover;
      background-position: top;
      height: 350px;
      overflow: hidden;
      &:hover {
        .team-content {
          bottom: 0;
        }
      }
      .team-content {
        position: absolute;
        left: 0;
        bottom: -130px;
        background-color: #333;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        transition: 0.3s;
        color: #fff;
        h4 {
          font-size: 24px;
          text-transform: capitalize;
          span {
            display: block;
            font-size: 16px;
            text-transform: lowercase;
            margin-bottom: 10px;
          }
        }
        a {
          margin: 0 7px;
          transition: 0.3s;
          display: inline-block;
          color: #fff;
          &:hover {
            color: #ff7720;
          }
        }
      }
    }
  }
}
