.testimonials-area {
  @include bg;
  color: #fff;

  .testimonials {
    .slick-arrow {
      background-color: #ff7720;
      border: 0;
      color: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      &.slick-prev {
        left: -70px;
      }
      &.slick-next {
        right: -70px;
      }
      i {
        font-size: 25px;
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
    }

    .slick-dots {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 20px;
      li {
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
        &.slick-active {
          button {
            background-color: #ff7720;
            color: #fff;
          }
        }
        button {
          background-color: #ddd;
          border: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          color: #333;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
  .single-testimonial {
    text-align: center;
    border: 1px solid #f2f2f2;
    padding: 30px;
    i {
      font-size: 50px;
      margin-bottom: 30px;
    }
    .author-info {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 200px;
      margin: 30px auto 0;
      img {
        max-width: 60px;
        border-radius: 50%;
        justify-content: center;
      }
      h4 {
        text-transform: capitalize;
        text-align: left;
        margin-left: 13px;
        font-size: 20px;
        line-height: 22px;
        span {
          font-size: 14px;
        }
      }
    }
  }
  .slick-slide {
    margin: 0 15px;
  }
}
